* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 1px 10px lightgray;
  }
  
  .logo img{
    width: 100px;
  }
  
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search input[type="text"]:focus{
    outline: none;
  }
  
  .search input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  .search input[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  

.menu-icon{
    font-size: 30px;
    margin: 0px 20px;
    display: none;
  }
  
  #sidebar{
    position: fixed;
    right: -280px;
    top: 0;
    width: 280px;
    background-color: #f8f8f8;
    min-height: 100vh;
    height: 100%;
    z-index: 3;
    padding-top: 20px;
    overflow-y: auto;
    transition: all .3s ease;
  }
  
  #close{
    color: #fff;
    background-color: #CC0C39;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
    margin-top: 10px; 
  }
  
  .sidebar-items{
    padding-top: 30px;
  }
  
  .trending ul{
    padding: 5px;
  } 
  
  .trending ul li a{
    color: #0F1111;
    text-decoration: none;
  }
  
  .trending ul li:hover{
    background-color: #3333331c;
  }
  
  .trending ul li{
    list-style: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: all .3s ease;
  }
  
  .trending h2 , .trending h3{
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .trending{
    border-bottom: 1px solid lightgray;
  }
  
#hero {
    background-image: url(Images/pexels-gustavo-fring-3985062.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cart{
    position: relative;
    right: 30px;
  }
  
  .Cart i{
    font-size: 20px;
    color: #000;
  }
  
  .Cart p{
    color: #fff;
    background-color: rgb(202, 16, 202);
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: -15px;
    right: -10px;
  }
#hero h1 {
    color: #fff;
    font-size: 48px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#about {
    background-color: #fff;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

#about h2 {
    font-size: 24px;
    margin-top: 30px;
}

#about p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 15px;
    color: #666;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
}

footer p {
    text-align: center;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    #hero h1 {
        font-size: 36px;
        text-align: center;
    }

    .container {
        padding: 0 10px;
    }
}

@media (max-width: 750px) {
    header .search{
      display: none;
    }
    header nav{
      display: none;
    }
    .menu-icon{
      display: block;
    }
    .Cart{
        display: none;
    }
    #backGround, #backGround1 , #backGround2, #backGround{
      background-position: center;
    }
  }